.button-style {
  @apply inline-flex items-center justify-center py-1 px-2 mr-2 mb-2 text-xs font-small text-white bg-indigo-500 rounded;
  font-family: 'Roboto', sans-serif;
  color: #5A6B87;
  width: 64px;
  height: 22px;
  border-radius: 10px;
  font-size: 10px;
  margin-left: 8px;
  font-weight: bold;
}

/* Add spacing between buttons */
.button-style + .button-style {
  margin-left: 8px;
}

/* Responsive adjustments */
@screen sm {
  .button-style {
    width: 48px;
    height: 18px;
  }
}

@screen md {
  .button-style {
    width: 42px;
    height: 16px;
  }
}

@screen lg {
  .button-style {
    width: 38px;
    height: 14px;
  }
}

@screen xl {
  .button-style {
    width: 35px;
    height: 12px;
  }
}

@screen 2xl {
  .button-style {
    width: 30px;
    height: 10px;
  }
}
